<div id="<%= dom_id create_content_dto %>">
  <p>
    <strong>Type:</strong>
    <%= create_content_dto.type %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= create_content_dto.title %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= create_content_dto.end_date %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= create_content_dto.start_date %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= create_content_dto.image %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= create_content_dto.body %>
  </p>

  <p>
    <strong>Sites:</strong>
    <%= create_content_dto.sites %>
  </p>

  <p>
    <strong>Creation tme:</strong>
    <%= create_content_dto.creation_tme %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= create_content_dto.author %>
  </p>

</div>
