<%= form_with(model: create_content_dto, exclude: [:creation_time, :author]) do |form| %>
  <% if create_content_dto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(create_content_dto.errors.count, "error") %> prohibited this create_content_dto from being saved:</h2>

      <ul>
        <% create_content_dto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label 'Type', style: "display: block" %>
    <%= select_tag :content_type, options_for_select(["Nyhed", "Event"]) %>
  </div>

  <div>
    <%= form.label 'Sider', style: "display: block" %>
    <% @sites_options.each do |option| %>
      <%= check_box_tag 'sites[]', option %>
      <%= label_tag option, nil, class: 'choice-label' %>
    <% end %>
  </div>

  <div>
    <%= form.label "Dato", style: "display: block" %>
    <%= date_field("dates", "start", style: "display: inline-block") %> -
    <%= date_field("dates", "end", style: "display: inline-block") %>

  </div>

  <div>
    <%= form.label 'Titel', style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label 'Tekst', style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label 'Billede', style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= link_to "Cancel", :back %> <!-- MAKE THIS BTN WITH CSS -->
    <%= form.submit 'Vis', name: 'Vis', class: 'preview-submit' %>
    <%= form.submit 'Gem', name: 'Gem', class: 'save-submit' %>
  </div>
<% end %>

<script>
  const newTabSubmitBtn = document.querySelector('.preview-submit');
  const saveSubmitBtn = document.querySelector('.save-submit');
  const form = document.querySelector('form');

  newTabSubmitBtn.addEventListener('click', (event) => {
      form.target = '_blank';
  });

  saveSubmitBtn.addEventListener('click', (event) => {
      form.target = '_self';
  });
</script>