<%= form_with(model: create_content_dto, exclude: [:creation_time, :author]) do |form| %>
  <% if create_content_dto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(create_content_dto.errors.count, "error") %> prohibited this create_content_dto from being saved:</h2>

      <ul>
        <% create_content_dto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= select_tag :category, options_for_select(["Nyhed", "Event"]) %>
  </div>

  <div>
    <%= form.label 'Sider for Opslag', style: "display: block" %>
    <% @sites_options.each do |option| %>
      <%= check_box_tag 'sites[]', option %>
      <%= label_tag option, nil, class: 'choice-label' %>
    <% end %>
  </div>

  <div>
    <%= form.label "Dato", style: "display: block" %>

    <%= date_field("dates", "start", style: "display: flex") %>
    <%= date_field("dates", "end", style: "display: flex") %>

  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= link_to "Cancel", :back %> <!-- MAKE THIS BTN -->
    <%= form.submit %>
  </div>
<% end %>
