<head>

</head>
<body>

<%= render 'shared/header' %>
<p style="color: green"><%= notice %></p>

<h1>Create content dtos</h1>

<section class="index-grid">

  <%= link_to new_create_content_dto_path, class: "remove-text-decoration" do %>
    <button class="index-button-new">
      <h1>Opret nyt opslag</h1>
      <div class="plus-sign"> + </div>
    </button>
  <% end %>

  <% @create_content_dtos.each do |content| %>
    <article class="index-article">
      <% begin %>
          <img src="data:image/png;base64,<%= content['image'] %>" alt="Picture" onerror="this.src='https://via.placeholder.com/300x200'" class="index-image">
      <% rescue %>
        <img src="https://via.placeholder.com/300x200" alt="Placeholder Image" class="index-image">
      <% end %>

      <div class="index-text">
        <h1><%= content['title'].to_s %></h1>
        <p>
          <%= content['body'] %>
        </p>
      </div>
    </article>
  <% end %>

</section>
</body>
