<p style="color: green"><%= notice %></p>

<%= render @create_content_dto %>

<div>
  <%= link_to "Edit this create content dto", edit_create_content_dto_path(@create_content_dto) %> |
  <%= link_to "Back to create content dtos", create_content_dtos_path %>

  <%= button_to "Destroy this create content dto", @create_content_dto, method: :delete %>
</div>
